<div class="container">
    <form [formGroup]="creditForm">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="form-outline mb-4">
            <label class="form-label" for="amount">Le Montant</label>
            <input type="number" id="amount" class="form-control" formControlName="amount"/>
        </div>
        <div class="form-outline">
            <label class="form-label" for="monthly">Montant/moi</label>
            <input type="number" id="monthly" class="form-control" formControlName="monthly"/>
                 
        </div>




        
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="createCredit()">Suivant</button>
    </form>
</div>