<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-10 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Post Maroc Crédit</h2>
                <p>Bienvenu au poste maroc crédit </p>
                <div id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="fa fa-th-list active" aria-hidden="true" ><strong>Régles</strong></li>
                        <li class="fa fa-user" aria-hidden="true" ><strong>Compte</strong></li>
                        <li class="fa fa-money" aria-hidden="true" ><strong>Crédit</strong></li>
                        <li class="fa fa-file" aria-hidden="true" ><strong>Document</strong></li>
                        <li class="fa fa-check" aria-hidden="true" ><strong>Confirmation</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- forms -->
                    <form class="p-3 justify-content-center text-center">
                        <h4 class="heading">Principale Conditions:</h4>
                        <div class="row justify-content-center mb-4">
                            <div class="col-lg-9 col-md-11 col-12 list text-left">
                                <div class="col-lg-3 col-md-1 col-0"></div>
                                <ol type="1" class="pl-3 text-muted mb-5">
                                    <li>L'âge doit être entre 20 et 50</li>
                                    <li>Le salaire doit être au minimum 1500 dh par mois</li>
                                    <li> Le candidat doit présenter les documents suivants: </li>
                                    <li>
                                        <ul>
                                            <li> Carte d'Identité National (CIN) </li>
                                            <li> Certificat de salaire</li>
                                            <li> Certificat de résidence ou EAU/ElEC</li> 
                                            <li> Certificat de travaille</li>
                                        </ul>
                                    </li>
                                    <li>Respecter tous les champs demander à remplir</li>
                                </ol>
                                <div class="custom-control custom-checkbox mb-3"> 
                                    <input id="customCheck1" type="checkbox" class="custom-control-input" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}"> 
                                    <label for="customCheck1" class="custom-control-label">Je lis et J'accepte les conditions</label> 
                                </div>
                            </div>
                        </div> <input type="button" name="next" class="next action-button" value="Début" [disabled]="!isChecked" />
                    </form>

                    <!-- Step 1 -->
                    
                    <form [formGroup]="clientForm">
                        <!-- <div class="invalid__feedback" >
                            <h4>
                                
                            </h4>
                        </div> -->
                        <div class="alert" *ngIf="hasFormErrors">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            Les champs <strong>(*)</strong> son obligatoire!
                        </div>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Information de client:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">1/4</h2>
                                </div>
                            </div> 
                            
                            <div class="form_group">
                                <label class="fieldlabels">Numéro de CIN: *</label>
                                <input type="text" 
                                    name="CIN" 
                                    placeholder="CIN" 
                                    formControlName="CIN_Number" 
                                    [ngClass]="{'is__invalid' : isClientControlHasError('CIN_Number','required')}"
                                />
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('CIN_Number','required')">
                                    Numéro de CIN est obligatoire 
                                </div>
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Prénom: *</label> 
                                <input type="text" 
                                    name="firstname" 
                                    placeholder="Prénom" 
                                    formControlName="firstName" 
                                    [ngClass]="{'is__invalid' : isClientControlHasError('firstName','required')}"
                                />
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('firstName','required')">
                                    Prénom est obligatoire
                                </div>
                            </div>
                              
                            <div class="form_group">
                                <label class="fieldlabels">Nom: *</label>
                                <input type="text" 
                                    name="lastname" 
                                    placeholder="Nom" 
                                    formControlName="lastName" 
                                    [ngClass]="{'is__invalid' : isClientControlHasError('lastName','required')}"
                                />
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('lastName','required')">
                                    Nom est obligatoire 
                                </div>
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Email: *</label>
                                <input type="email" 
                                    name="email" 
                                    placeholder="Email" 
                                    formControlName="email"
                                    [ngClass]="{'is__invalid' : isClientControlHasError('email','required') || isClientControlHasError('email','email')}"
                                />                                
                                <div class="invalid__feedback"
                                    *ngIf="isClientControlHasError('email','required')">
                                    Email est obligatoire 
                                </div>
                                <div class="invalid__feedback"
                                    *ngIf="isClientControlHasError('email','email')">
                                    Email est invalid 
                                </div>
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Adresse: *</label>
                                <input type="text" 
                                    name="address" 
                                    placeholder="Adresse" 
                                    formControlName="address" 
                                    [ngClass]="{'is__invalid' : isClientControlHasError('address','required')}"
                                />
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('address','required')">
                                    Adresse est obligatoire 
                                </div>
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Téléphone: *</label>
                                  <input type="number" 
                                    name="phone" 
                                    placeholder="téléphone" 
                                    formControlName="phone" 
                                    [ngClass]="{'is__invalid' : isClientControlHasError('phone','required')}"
                                />
                                <div class="invalid__feedback" 
                                *ngIf="isClientControlHasError('phone','required')">
                                    Téléphone est obligatoire 
                                </div>
                            </div>                              

                            <div class="form_group">
                                <label class="fieldlabels">Age: *</label>
                                <input type="number" 
                                    name="age" 
                                    placeholder="âge" 
                                    formControlName="age" 
                                    [ngClass]="{'is__invalid' : isClientControlHasError('age','required')}"
                                />
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('age','required')">
                                    Age est obligatoire 
                                </div>
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('age','min') || isClientControlHasError('age','max')">
                                    Age doit être entre 20 et 50 ans 
                                </div>
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Salaire: *</label>
                                <input type="number" 
                                    name="salary" 
                                    placeholder="salaire" 
                                    formControlName="salary" 
                                [ngClass]="{'is__invalid' : isClientControlHasError('salary','required')}"
                                />
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('salary','required')">
                                    Salaire est obligatoire 
                                </div>
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('salary','min')">
                                    Salaire doit être au minimum 1500 DH 
                                </div>
                            </div>                              
                              
                            <div class="form_group">
                                <label class="fieldlabels">Fonction: *</label>
                                <input type="text" 
                                    name="job" 
                                    placeholder="fonction ou emplois" 
                                    formControlName="job" 
                                   [ngClass]="{'is__invalid' : isClientControlHasError('job','required')}"
                                />
                                <div class="invalid__feedback" 
                                    *ngIf="isClientControlHasError('job','required')">
                                    Fonction est obligatoire 
                                </div>
                            </div>

                        </div> 
                        <!-- Buttons -->
                        <input type="button" 
                            name="next" 
                            [disabled]="clientForm.invalid"
                            class="next action-button" 
                            value="Suivante" 
                        />
                        <input type="button" 
                            name="previous" 
                            class="previous action-button-previous" 
                            value="Précédente" 
                        />
                    </form>
                    <!-- Step 2 -->
                    <form  [formGroup]="creditForm">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Information de crédit:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">2/4</h2>
                                </div>
                            </div> 
                            <div class="form_group">
                                <label class="fieldlabels">Montant: *</label>
                                <input type="number" 
                                    name="amount" 
                                    placeholder="La montant souhaiter" 
                                    formControlName="amount"
                                    [ngClass]="{'is__invalid' : isCreditControlHasError('amount','required')}"
                                /> 
                                <div class="invalid__feedback" 
                                    *ngIf="isCreditControlHasError('amount','required')">
                                    Montant est obligatoire 
                                </div>
                                <div class="invalid__feedback" 
                                    *ngIf="isCreditControlHasError('amount','min')">
                                    Montant doit être au minimum 10000 DH 
                                </div>
                                <div class="invalid__feedback" 
                                    *ngIf="!isAmountValid()">
                                    Montant à dépassé le maximum possible
                                </div>
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Montant/Mois: *</label>
                                <input type="numbre" 
                                    name="monthly" 
                                    placeholder="le paiment par moi"  
                                    formControlName="monthly"
                                    [ngClass]="{'is__invalid' : isCreditControlHasError('monthly','required')}"
                                /> 
                                <div class="invalid__feedback" 
                                    *ngIf="isCreditControlHasError('monthly','required')">
                                    Montant par mois est obligatoire 
                                </div>
                                <div class="invalid__feedback" 
                                    *ngIf="isCreditControlHasError('monthly','min')">
                                    Montant à payer par mois doit être au minimum 1000 DH 
                                </div>
                            </div> 
                        </div>
                            
                        <!-- Buttons -->
                        <input type="button" name="next"  
                            class="next action-button" 
                            [disabled]="creditForm.invalid"
                            value="Suivante" 
                        /> 
                        <input type="button" 
                            name="previous" 
                            class="previous action-button-previous" 
                            value="Précédente" 
                        />
                    </form>
                    <form>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Téléchargement de document:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">3/4</h2>
                                </div>
                            </div>
                            <div class="form_group"> 
                                <label class="fieldlabels">Chargement de CIN (RECTO) : *</label> 
                                <input type="file" 
                                    name="pic" 
                                    accept="image/*" 
                                    (change)="onFileChange($event,'CIN_front')" 
                                    
                                > 
                                <!-- <div class="invalid__feedback" 
                                    *ngIf="isDocumentControlHasError('CIN_front','required')">
                                    Ce fichier est obligatoire 
                                </div> -->
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Chargement de CIN (VERSO) : *</label> 
                                <input type="file" 
                                    name="pic" 
                                    accept="image/*" 
                                    (change)="onFileChange($event,'CIN_back')" 
                                    
                                >
                                <!-- <div class="invalid__feedback" 
                                    *ngIf="isDocumentControlHasError('CIN_back','required')">
                                    Ce fichier est obligatoire 
                                </div> -->
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Chargement de certifecat de salaire : *</label> 
                                <input type="file" 
                                    name="pic" 
                                    accept="image/*" 
                                    (change)="onFileChange($event,'salaryCertificate')" 
                                    
                                >
                                <!-- <div class="invalid__feedback" 
                                    *ngIf="isDocumentControlHasError('salaryCertificat','required')">
                                    Ce fichier est obligatoire 
                                </div> -->
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Chargement de certificat de résidence OU EAU/ELEC : *</label> 
                                <input type="file" 
                                    name="pic" 
                                    accept="image/*" 
                                    (change)="onFileChange($event,'certificateResWaterElec')" 
                                    
                                >
                                <!-- <div class="invalid__feedback" 
                                    *ngIf="isDocumentControlHasError('certificateResWaterElec','required')">
                                    Ce fichier est obligatoire 
                                </div> -->
                            </div>

                            <div class="form_group">
                                <label class="fieldlabels">Chargement de certifecat de travaille : *</label> 
                                <input type="file" 
                                    name="pic" 
                                    accept="image/*" 
                                    (change)="onFileChange($event,'jobCertificate')" 
                                >
                                <!-- <div class="invalid__feedback" 
                                    *ngIf="isDocumentControlHasError('jobCertificate','required')">
                                    Ce fichier est obligatoire 
                                </div> -->
                            </div> 
                        </div>
                        <!-- Buttons -->
                        <input type="button" 
                            name="next"
                            class="next action-button" 
                            value="Suivante"  
                        /> 
                        <input type="button" 
                            name="previous" 
                            class="previous action-button-previous" 
                            value="Précédente" 
                        />
                    </form>
                    <form>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Confirmation:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">4/4</h2>
                                </div>
                            </div> <br><br>
                            <div class="">
                                <h4>Les information personnelle :</h4>
                                <strong>Nom : </strong><label class="col-form-label">{{clientForm.value.lastName}}</label><br/><br/>
                                <strong>Prénom : </strong><label class="col-form-label">{{clientForm.value.firstName}}</label><br/><br/>
                                <strong>CIN : </strong><label class="col-form-label"></label><br/><br/>
                                <strong>Email : </strong><label class="col-form-label"></label><br/><br/>
                                <strong>Age : </strong><label class="col-form-label"></label><br/><br/>
                                <strong>Phone : </strong><label class="col-form-label"></label><br/><br/>
                            </div>
                            <!-- <h2 class="purple-text text-center"><strong>Succès !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> 
                                    <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> 
                                </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">Votre demande de crédit a été validé !!!</h5>
                                </div>
                            </div> -->
                        </div>
                        <input type="button" 
                            class="action-button" 
                            value="Valider"  
                            (click)="submit()"
                        /> 
                        <input type="button" 
                            name="previous" 
                            class="previous action-button-previous" 
                            value="Précédente" 
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
