<div class="container">
    <form [formGroup]="clientForm">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example3">Numéro de CIN</label>
            <input type="text" id="CIN" class="form-control" formControlName="CIN_Number"/>
        </div>
        <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="firstname">Prénom</label>
                <input type="text" id="firstname" class="form-control" formControlName="firstName"/>
             
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
                <label class="form-label" for="lastname">Nom</label>
              <input type="text" id="lastname" class="form-control" formControlName="lastName"/>

            </div>
          </div>
        </div>
      
        <!-- Text input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email"/>
        </div>
      
        <!-- Text input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="address">Adresse</label>
          <input type="text" id="address" class="form-control" formControlName="address"/>
        </div>
    
        <!-- Number input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="phone">Téléphone</label>
          <input type="number" id="phone" class="form-control" formControlName="phone"/>
        
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="age">Age</label>
            <input type="number" id="age" class="form-control" formControlName="age" />
        
          </div>
    
          <div class="form-outline mb-4">
            <label class="form-label" for="salary">salaire</label>
            <input type="number" id="salary" class="form-control" formControlName="salary" />
           
          </div>
    
          <div class="form-outline mb-4">
            <label class="form-label" for="job">Fonction</label>
            <input type="text" id="job" class="form-control" formControlName="job"/>
          
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="accountBalance">Solde</label>
            <input type="number" id="accountBalance" class="form-control" formControlName="accountBalance"/>
            
          </div>
          
          
          
    
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="createClient()">Suivant</button>
      </form>
    
</div>